@import url("https://use.typekit.net/lyz8pqz.css");

body {
	background-color: #141414;
}

::-webkit-scrollbar {
	display: none;
}

label {
	color: white;
	font-family: "apertura", sans-serif;
}

/* navbar */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -10px;
}

.logo {
	color: white;
	font-family: "apertura", sans-serif;
	font-weight: 700;
	font-size: 24px;
	font-style: normal;
	margin-left: 100px;
	text-decoration: none;
}

.navButton1 {
	color: white;
	font-family: "apertura", sans-serif;
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	text-decoration: none;
	margin-left: 40px;
}

.navButton1:hover,
.navButton1.active {
	text-decoration-line: underline;
	text-underline-offset: 5px;
}

.navButton2 {
	color: white;
	font-family: "apertura", sans-serif;
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	text-decoration: none;
	margin-left: 40px;
}

.navButton2:hover,
.navButton2.active {
	text-decoration-line: underline;
	text-underline-offset: 5px;
}

.navButton2:hover {
	text-decoration-line: underline;
	text-underline-offset: 5px;
}

.navButton3 {
	color: white;
	font-family: "apertura", sans-serif;
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	text-decoration: none;
	margin-left: 40px;
}

.navButton3:hover,
.navButton3.active {
	text-decoration-line: underline;
	text-underline-offset: 5px;
}

.navButtons {
	display: flex;
	align-items: center;
}

.profilePicture {
	width: 35px;
	height: 35px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 60px;
	margin-right: 100px;
	border-radius: 100%;
}

/* top body */

.topBody {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	color: white;
	font-family: "apertura", sans-serif;
	font-weight: 700;
	font-size: 50px;
	font-style: normal;
	margin-left: 100px;
	margin-top: -15px;
}

/* Selected page*/
/* vertical text */

/* middel of the page*/

button {
	color: #0f0f0f;
	border: none;
	background-color: white;
	padding: 1px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: "apertura", sans-serif;
	font-weight: 700;
	margin-top: 5px;

	cursor: pointer;
}

/* POST PAGE*/

a.buttonImport {
	display: inline-block;
	background: #141414;
	border: 2px solid white;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 215px;
	padding-bottom: 215px;
	line-height: 50px;
	font-family: "apertura", sans-serif;
	font-weight: 700;
	font-size: 24px;
	font-style: normal;
	text-decoration: none;
	color: white;
}

.dropbtn {
	display: inline-block;
	background: #141414;
	border: 2px solid white;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 215px;
	padding-bottom: 215px;
	line-height: 50px;
	font-family: "apertura", sans-serif;
	font-weight: 700;
	font-size: 24px;
	font-style: normal;
	text-decoration: none;
	color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #141414;
	min-width: 200px;
	z-index: 1;
	/* margin-top: -220px;
	margin-left: 120px; */
}

.dropdown-content a {
	text-decoration: none;
	color: #141414;
	border: none;
	background-color: white;
	padding: 1px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: "apertura", sans-serif;
	font-weight: 700;
	margin-top: 10px;
}

.dropdown-content a:hover {
	background-color: white;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #141414;
}

.chosenImg {
	width: 360px;
	height: 540px;
}

.centerPost {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -55px;
	margin-left: -320px;
}

.iconPost {
	width: 25px;
	height: 25px;
	margin-left: 100px;
}

.iconPost img {
	margin-top: -200px;
}

p.quotePost {
	transform: rotate(-90deg);
	margin: -60px;
	margin-top: 5px;
	color: #141414;
	font-family: "apertura", sans-serif;
	font-weight: 700;
	font-size: 52px;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.quotePost {
	width: 500px;
}

.quotePPost {
	width: 220px;
	height: 100px;
}

/* middel of the page*/

.infoPost {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: last baseline;
	max-width: 150px;
	margin-left: 10px;
}

input {
	margin-bottom: 15px;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid white;
	color: #141414;
}

input::placeholder {
	color: 141414;
}

.infoButtonPost {
	color: white;
	text-decoration: none;
	font-family: "apertura", sans-serif;
	font-size: 14px;
	font-weight: 700;
	justify-content: space-between;
}

a.infoButtonPost {
	margin-bottom: 30px;
	margin-left: 20px;
}

buttonPost {
	color: #0f0f0f;
	border: none;
	background-color: white;
	padding: 1px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: "apertura", sans-serif;
	font-weight: 700;
	margin-top: 10px;
}

.image-page {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
}

.styleImmage {
	width: 250px;
	margin: 5px;
}
